@model BSIT3L_Movies.Models.MovieViewModel


<!DOCTYPE html>
<html>
<head>
    <title>Movie</title>
</head>
<body>
    <h2 class="CenterDetails">Movie Details</h2>
    <br />
    <div class="MovieFlex">
        <div class="POSTER1"><img class="ImagePost" src="@Model.Poster" alt="@Model.Name"></div>
        <div class="POSTER2">
            <br />
            <p class="MovieName">Movie Name: @Model.Name</p>
            <p class="MovieID">Movie ID: @Model.Id</p>
            <p class="MovieRating">Rating: @Model.Rating</p>
            <p class="MovieYear">Release Year: @Model.ReleaseYear</p>
            <p class="MovieGenre">Genre: @Model.Genre</p>
            <button class="UpvoteButton">Upvote</button>
            <button class="DownvoteButton">Downvote</button>
            <br />
            <br />
            <div class="Description">
                <p class="MovieSynopsis">Synopsis</p>
                <p class="MovieDescription">@Model.Desc</p>
            </div>
        </div>
    </div>
    <br />
    <div class="TrailerVid">
        <p class="MovieTrailer"> Trailer </p>
    <video width="1080" height="520" controls>
    <source src="@Model.Trailer" type="video/mp4">
    </video>
    </div>
    <br />
    <div class="CommentSection">
        <h3>Comments</h3>
        <!-- Loop through comments in Model and display them -->
            <div class="Comment">
                <p>User Name here </p>
               <p>CommentText here </p>
                <!-- Add upvote and downvote buttons -->
         
            </div>
 

        <!-- Comment Input Form -->
        <form>
            <label for="comment">Add a comment:</label>
            <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
            <br />
            <button type="submit">Add Comment</button>
        </form>
    </div>


</body>
</html>